<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>공지사항</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Custom Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
      <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav th:replace="fragments/common :: nav">
            </nav>
            <!-- Section -->
            <section class="py-5">
              <div class="container px-4 px-lg-5 mt-5 d-flex justify-content-center">
                <!-- 공지사항 목록 -->
                <div class="col-lg-10 mx-5">
                  <h2 class="fw-bolder">공지사항</h2>
                  <table class="table mt-4 border">
                    <thead>
                    <tr>
                      <th style="width: 10%; text-align: center;">번호</th>
                      <th style="width: 45%; text-align: center;">제목</th>
                      <th style="width: 10%; text-align: center;">글쓴이</th>
                      <th style="width: 15%; text-align: center;">작성일</th>
                      <th style="width: 10%; text-align: center;">조회수</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="notice:${list}">
                            <td th:text="${notice.num}" style="text-align: center;"></td>
                            <td style="text-align: center;">
                                <a th:href="@{/notice/view/(num=${notice.num})}" th:text="${notice.title}" style="text-decoration:none; color:black;">제목</a></td>
                            <td th:text="${notice.username}" style="text-align: center;">글쓴이</td>
<!--                            <td th:text="${#temporals.format(notice.createdTime, 'yyyy-MM-dd')}" style="text-align: center;">작성일</td>-->
                            <td style="text-align: center;">
                                <span th:if="${#temporals.format(notice.createdTime, 'yyyy-MM-dd') == #temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}"
                                      th:text="${#temporals.format(notice.createdTime, 'HH:mm')}">작성일</span>
                                <span th:unless="${#temporals.format(notice.createdTime, 'yyyy-MM-dd') == #temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}"
                                      th:text="${#temporals.format(notice.createdTime, 'yyyy-MM-dd')}">작성일</span>
                            </td>

                            </td>
                            <td th:text="${notice.hit}" style="text-align: center;">조회수</td>
                        </tr>
                    </tbody>
                  </table>

                    <!--페이징 처리-->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center mt-5">
                            <li class="page-item" th:class="${nowPage == startPage} ? 'page-item disabled' : 'page-item'">
                                <a class="page-link" th:href="@{/notice/list(page=${nowPage-2})}">이전</a>
                            </li>
                            <li class="page-item" th:each="pageNumber : ${#numbers.sequence(startPage, endPage)}">
                                <a class="page-link" th:if="${pageNumber != nowPage}" th:href="@{/notice/list(page=${pageNumber-1})}" th:text="${pageNumber}"></a>
                                <strong class="page-link" th:if="${pageNumber == nowPage}" th:text="${pageNumber}" style="color: red"></strong>
                            </li>
                            <li class="page-item" th:class="${nowPage == endPage} ? 'page-item disabled' : 'page-item'">
                                <a class="page-link" th:href="@{/notice/list(page=${nowPage})}">다음</a>
                            </li>
                        </ul>
                    </nav>

                    <div class="mt-3 d-flex justify-content-end">
                    <a th:href="@{/notice/write}">
                      <button type="button" class="btn btn-primary" sec:authorize="hasRole('ROLE_ADMIN')">공지 등록</button>
                    </a>
                  </div>
                </div>
              </div>
            </section>
      </main>
        <!-- footer -->
        <footer th:replace="fragments/common :: footer"></footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
    </body>
</html>