<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Title</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Custom Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light py-3 px-2" th:fragment="nav">
        <div class="container d-flex justify-content-center">
            <a class="navbar-brand" th:href="@{/}"><span class="fw-bolder text-gradient">flomis_9</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">

                    <li class="nav-item text-gradient"><a class="nav-link" th:href="@{/notice/list}">공지사항</a></li>
                    <li class="nav-item text-gradient"><a class="nav-link" th:href="@{/schedule}">스케줄</a></li>
                    <li class="nav-item text-gradient"><a class="nav-link" th:href="@{/place}">지도</a></li>
                    <li class="nav-item text-gradient"><a class="nav-link" th:href="@{/board}">자유게시판</a></li>
                    <li class="nav-item text-gradient">
                        <a class="nav-link" th:href="@{/login}" sec:authorize="!isAuthenticated()">
                            <i class="bbi bi-arrow-right-square-fill" style="font-size: 17px;"></i>
                        </a>
                    </li>
                    <li class="nav-item text-secondary"><a class="nav-link" th:href="@{/#}" sec:authorize="isAuthenticated()">내 정보</a></li>
                    <li class="nav-item text-info">
                        <form id="logoutForm" th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                            <a class="nav-link" href="javascript:void(0);" onclick="logout();">로그아웃</a>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Footer-->
    <footer class="bg-white py-4 mt-auto" th:fragments="footer">
        <!-- About Section-->
        <section class="bg-light py-1">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-xxl-8">
                        <div class="text-center my-1">
                            <div class="d-flex justify-content-center fs-2 gap-4">
                                <a class="text-gradient" href="https://twitter.com/realfromis_9" target="_blank" rel="noopener noreferrer"><i class="bi bi-twitter"></i></a>
                                <a class="text-gradient" href="https://instagram.com/officialfromis_9" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                                <a class="text-gradient" href="https://www.youtube.com/channel/UC8qO5racajmy4YgPgNJkVXg" target="_blank" rel="noopener noreferrer"><i class="bi bi-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Copyright-->
        <div class="container mt-3">
            <div class="row align-items-center justify-content-center flex-column flex-sm-row">
                <div class="col-auto">
                    <a class="small" href="#!">이용약관</a>
                    <span class="mx-1">&middot;</span>
                    <a class="small" href="#!">개인정보처리방침</a>
                    <span class="mx-1">&middot;</span>
                    <a class="small" href="#!">문의/신고</a>
                    <div class="col-auto text-center mt-1">
                        <div class="small m-0">Copyright &copy; fromis Website 2023</div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>